<div class="footer py-5" *ngIf="pageName">
    <div class="container">
        <div class="row">
            
     <div class="col-lg-3">
        <p class="logo"><i class="fab fa-accusoft"></i> NKN</p>
        <p class="info"><i class="fas fa-map-marker-alt icons pr-2"></i>  302 wlburn mountain</p>
        <p class="info"><i class="fas fa-phone-volume icons pr-2"></i>  685-290-645</p>
        <p class="info"><i class="fas fa-envelope icons pr-2"></i> angel-alson@gmail.com</p>
            </div>
    
            <div class="col-lg-3">
    <p class="text-uppercase footer-titles">Our services</p>
    <ul>
        <li class="lists">	Hotels/Resort</li>
        <li class="lists">	Combo</li>
        <li class="lists">	Voucher</li>
        <li class="lists">	Promotions</li>
        <li class="lists">	Destinations</li>
    
    </ul>
            
            </div>
    
            <div class="col-lg-3">
    
                <p class="text-uppercase footer-titles">About Us</p>
                <ul>
                    <li class="lists">Contact us</li>
                    <li class="lists">About us</li>
                    <li class="lists">Partner </li>
                    <li class="lists">Blog</li>
                    <li class="lists">Sign In/ Sign Up</li>
    
                </ul>
                
            </div>
    
            <div class=" col-lg-3 ">
                <div class="input-group mb-3 ">
                    <input type="text" class="form-control  py-2 footer-mail" placeholder="Enter Your Mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <span class="input-group-text sentBtn px-4 " id="basic-addon2">Sent</span>
                    </div>
                  </div>
                  <p class="follow">Follow Us</p>
                  <span class="pr-2"><i class="fab p-2  social-icons fa-twitter"></i></span>
                  <span class="pr-2"><i class="fab p-2 fa-youtube  social-icons "></i></span>
                  <span class="pr-2"><i class="fab p-2 fa-facebook-f  social-icons"></i></span>
                  <span class="pr-2"><i class="fab p-2 fa-instagram  social-icons"></i></span>
            </div>
    
            
            
    
    
    
    
        </div>
    </div>
    </div>